# === PYTHON / DJANGO ===
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.env.*
*.env
*.egg-info/
*.pot
*.pyc
*.pyo
db.sqlite3
local_settings.py
*.DS_Store

# Virtual environment
env/
venv/
ENV/
env311/

# Django migration + cache
**/migrations/__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# === NODE ===
node_modules

# === GENERAL GIT ===
*.swp
*.swo
*.bak
*.tmp
*.orig

.expo

# === IDEs ===
.vscode/
.idea/
*.iml
